:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

.centerthis {
  height: 100%;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

button {
  color: var(--blue);
  font-size: 3em;
  font-weight: bold;
}
