:root {
  --textcolor: #000000;
  --backgroundcolor: #FDFBD4;
  --bigtextsize: 3 em;
  --smalltextsize: 1 em;
}

div {
  width: 100%;
}

.centerthis {
  height: 100%;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

button {
  color: var(--textcolor);
  font-size: var(--smalltextsize);
  font-weight: bold;
}
