.centerthis {
        height: 100%;
        display: flex;
        justify-content: center; /* horizontal center */
        align-items: center;     /* vertical center */
      }

button {
  color: red;
  font-size: 3em;
  font-weight: bold;
}
